<p>
@if (isLoggedIn) {
  "Bienvenue, utilisateur!"
} @else {
  "Veuillez vous connecter"
}
</p>
<button (click)="reverse()">Login/Logout</button>
<br />
<hr />
<h2>Sélectionner un rôle: </h2>
<select (change)="selectRole($event)" class="role-select">
  <option value="">Sélectionner un rôle</option>
  @for (r of roles; track r) {
    <option [value]="r">{{ r }}</option>
  }
</select>
  @switch (role) {
    @case ('Utilisateur') {
      <p>Bonjour, Utilisateur!</p>
    }
    @case ('Editeur') {
      <p>Bonjour, Editeur!</p>
    }
    @case ('Admin') {
      <p>Bienvenue, Admin!</p>
    }
    @default {
      <p>Rôle non sélectionné.</p>
    }
  }
